<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "net.burcografi.falanfilann"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Burcografi</name>

  <description>
      Simdilik Sadece Test Aşamasındayız.
  </description>

  <author>
      Yasin Ekmekçi
  </author>
    
  <icon src="icon.png" />

</widget>